<h2>Available drones</h2>

{{#each dronesList}}

  <ul>

    <li>{{name}}</li>
    <li>{{propellers}}</li>
    <li>{{maxSpeed}}</li>

  </ul>
  <a href="/drones/{{this._id}}/edit">Update</a>
  <form action="/drones/{{this._id}}/delete" method="post">
    <button>Delete</button>
  </form>

{{/each}}